<mat-toolbar>
  <span>Mapa de Predicciones de {{nombreUsuario}} </span>
  <button
    mat-raised-button
    (click)="cerrarSesion()">
    <mat-icon>logout</mat-icon>
    Cerrar Sesion
  </button>
  <span class="example-spacer"></span>
<mat-form-field appearance="outline">
  <mat-label>Cliente</mat-label>

  <mat-select [(ngModel)]="clienteSeleccionado">

    @for (cliente of clientes; track cliente.id) {

      <mat-option [value]="cliente.nombre">
        {{ cliente.nombre }}
      </mat-option>

    }

  </mat-select>

</mat-form-field>
@if (!capturando && !capturaFinalizada) {
  <button
    mat-raised-button
    (click)="toggleCaptura()">
    <mat-icon>add_location_alt</mat-icon>
    Capturar puntos
  </button>
}

@if (capturando) {
  <button
    mat-raised-button
    (click)="toggleCaptura()">
    <mat-icon>stop</mat-icon>
    Finalizar captura
  </button>
}

@if (capturaFinalizada) {
  <button
    mat-raised-button
    (click)="enviarPuntos()">
    <mat-icon>upload</mat-icon>
    Mandar a predecir
  </button>
}


  <button
    mat-raised-button
    (click)="recuperar_ordenes()">
    <mat-icon>update</mat-icon>
    Actualizar
  </button>


</mat-toolbar>
<app-mapa-sectorizado
  [geojson]="geojsonData"
    [modoCaptura] = "capturando"
    (puntoSeleccionado)="agregarPunto($event)"
 ></app-mapa-sectorizado>

